/* https://codepen.io/alvaromontoro/pen/LYzzjmR */

@keyframes progress {
    0% {
        --percentage: 0;
    }

    100% {
        --percentage: var(--value);
    }
}

@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

[role="circularbar"] {
    --percentage: var(--value);
    --text: black;
    --primary: #10B364;
    --secondary: #0D77CF;
    --size: 200px;
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    aspect-ratio: 2 / 1;
    border-radius: 50% / 100% 100% 0 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

    [role="circularbar"]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: conic-gradient(from 0.75turn at 50% 100%, var(--primary) calc(var(--percentage) * 1% / 2), var(--secondary) calc(var(--percentage) * 1% / 2 + 0.1%));
        mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
        mask-mode: alpha;
        -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
        -webkit-mask-mode: alpha;
    }

[role="circularbar"]::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    font-family: Mulish;
    font-size: calc(var(--size) / 5);
    color: var(--text);
}
