a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.menu-outer {
    height: 84px;
    background: none;
    text-align: center;
}

.table {
    display: table;
    margin: 0 auto;
}

ul.horizonal-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    *display: inline;
}

ul.horizonal-list li {
    float: left;
    padding: 2px 20px;
}

    ul.horizonal-list li:hover {
        background-color: lightgray;
        font-weight: bold;
        border-radius: 50px;
        background-size: 200% 100%;
    }

li.selected {
    color: #ffffff;
    background: rgb(35, 35, 35, 0.05);
    font-weight: bold;
}
ul { cursor: pointer }

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.show {
    display: block;
}

