@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}
/*Overrides AntD styles by classes, instead of using ConstStyles.js !*/

.ant-modal {
    font-family: 'Mulish', sans-serif;
    width: 100%;
    overflow: hidden;
}

.ant-modal-content {
/*      height: calc(100vh - 85vh) !important;*/
    padding-bottom: 10%;
}

.ant-modal-title {
    text-align: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.ant-btn-primary:hover {
    background-color: #bfbfbf !important;
}

.ant-btn-default:hover {
    background-color: #bfbfbf !important;
    color: white !important;
    border-color: #bfbfbf !important;
}

.ant-switch-checked {
    background-color: #000000 !important;
}

.ant-tabs {
    font-family: 'Mulish', sans-serif !important;
}

.ant-tabs-ink-bar {
    height: 10px;
    background: black !important;
}

.ant-tabs-tab-btn {
    color: black !important;
    font-size: 130%;
}

.padding-bottom {
    padding-bottom: 5%;
}

.padding-top {
    padding-top: 8%;
}

.padding-vertical {
    padding-bottom: 5%;
    padding-top: 5%;
}

.padding {
    padding: 5%;
}

.mulish-font {
    font-family: 'Mulish', sans-serif;
}

file-upload-allison
.thin-font {
    font-weight:100;
}

.bold-font {
    font-weight: bolder;
}

.read-only-text {
    font-family: 'Mulish';
    background-color: #F4F5F4;
    border-color: #F4F5F4;
    border-radius: 2%;
    border-width: 1;
    height: 100%;
    width: 100%;
    padding: 5px 10px;
}

/* Crete Group Modal (CreateGroupModal.js) */
.group-feature-desc-p {
    font-size: 12px;
    font-weight: 300;
    padding-top: 2%;
    text-align:center;
}